@font-face { 
  font-family: mistral; /*这里是说明调用来的字体名字*/ 
  src: url('../fonts/mistral.ttf'); /*这里是字体文件路径*/ 
} 
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand { 
	font-family: mistral; 
    font-size: 64px;
    color: white;
    line-height: 77px;
    margin-top: 50px;
    float: none;
}

.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.banner {
	font-family: SanFranciscoDisplay-Semibold;
	font-size: 18px; 
	color: #FFFFFF; 
	line-height: 54px;
	margin-top: 100px;
}

.container {
	/*position: absolute;*/
    bottom: 0;
    height: 54px;
    /*text-align: center;*/
}

.footer-nav-menu {
	font-family: Futura-Medium; 
    font-size: 20px; 
    color: white; 
    line-height: 27px; 
    margin-left: 22px;
}

.footer-nav-menu > a {
    color: white;
}

.navbar-inner {
text-align: center;
width: auto;
}

.navbar .navbar-nav {
	margin-top: 54px;
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
